<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/apartment/apartment-form">Add Apartment</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  