<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/apartment/new-apartment">Add Apartment</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  